.gateway-card {
    padding: 15px;
}

.payment-card-title {
    padding: 13px 25px;
    text-align: center;
    background-color: rgb(var(--main));
    border-radius: 5px;
    border: 0;
    margin-bottom: 0px;
    color: #fff;
}

.payment-system-list {
    --thumb-width: 100px;
    --thumb-height: 40px;
    --radio-size: 12px;
    --border-color: #cccccf59;
    --hover-border-color: rgb(var(--main));
    background-color: #fff;
    border-radius: 5px;
    height: 100%;

}


.payment-system-list.is-scrollable {
    max-height: min(388px, 70vh);
    overflow-x: auto;
    padding-block: 4px;
}

.payment-system-list.is-scrollable::-webkit-scrollbar {
    width: 5px;
}

.payment-system-list.is-scrollable::-webkit-scrollbar {
    width: 5px;

}

.payment-system-list.is-scrollable::-webkit-scrollbar-thumb {
    background-color: rgb(var(--main));
    border-radius: 10px;
}

.payment-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 18px;
    border: 1px solid #fff;
    border-top-color: var(--border-color);
    transition: all 0.3s;
    border-left: 3px solid transparent;
}

.payment-item:first-child {
    border-top-color: #fff;
    border-radius: 5px 5px 0 0;
}

.payment-item:has(.payment-item__radio:checked) {
    border-left: 3px solid var(--hover-border-color);
    border-radius: 0px;
}

.payment-item__check {
    border: 3px solid transparent;
}

.payment-item:has(.payment-item__radio:checked) .payment-item__check {
    border: 3px solid rgb(var(--main));
}

.payment-item__info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: calc(100% - var(--thumb-width))
}

.payment-item__check {
    width: var(--radio-size);
    height: var(--radio-size);
    border: 1px solid rgb(var(--main));
    display: inline-block;
    border-radius: 100%;

}

.payment-item__name {
    padding-left: 10px;
    width: calc(100% - var(--radio-size));
    transition: all 0.3s;
}

.payment-item__thumb {
    width: var(--thumb-width);
    height: var(--thumb-height);
    text-align: right;
    padding-left: 10px;

    &:has(.text) {
        width: fit-content;
    }
}

.payment-item__thumb img {
    max-width: var(--thumb-width);
    max-height: var(--thumb-height);
    object-fit: cover;
}




.deposit-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .deposit-info__title {
    max-width: 50%;
    margin-bottom: 0px;
    text-align: left;
  }
  
  .deposit-info__input {
    max-width: 50%;
    text-align: right;
    width: 100%;
  }
  
  .deposit-info__input-select {
    border: 1px solid var(--border-color);
    width: 100%;
    border-radius: 5px;
    padding-block: 6px;
  }
  
  .deposit-info__input-group {
    border: 1px solid var(--border-color);
    border-radius: 5px;
  
    .deposit-info__input-group-text {
        align-self: center;
        padding-left: 5px;
    }
  
  }
  
  .deposit-info__input-group .form--control {
    padding: 5px;
    border: 0;
    height: 35px;
    text-align: right;
  }
  
  .deposit-info__input-group .form--control:focus {
    box-shadow: unset;
  }
  
  .info-text .text,
  .deposit-info__input .text {
    font-size: 14px;
  
  }
  
  .deposit-info__title .text.has-icon {
    display: flex;
    align-items: center;
    gap: 5px
  }
  
  .total-amount {
    border-top: 1px solid var(--border-color);
  }
  
  .total-amount .deposit-info__title {
    font-weight: 600;
  }
  
  .payment-item__btn {
    border: 0;
    border-block: 1px solid var(--border-color);
    border-bottom: 0;
    background: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 15px;
    font-weight: 500;
  }
  
  .payment-item:hover+.payment-item__btn {
    border-top-color: #fff;
  }
  
  button .spinner-border {
    --bs-spinner-width: 1.5rem;
    --bs-spinner-height: 1.5rem;
  }